name: Android CI
on:
  push: { branches: [ "main" ] }
  pull_request: {}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - uses: gradle/actions/setup-gradle@v3
      - name: Unit tests
        run: ./gradlew :data:test
      - name: Assemble dev debug
        run: ./gradlew :app:assembleDevDebug
